@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Raleway:wght@200;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

/*----------Common Styles----------*/
.mx-width{
    max-width: 80%;
    margin: 0 auto;
}

.mt-100{
    margin-top: 100px;
}
.mb-50{
    margin-bottom: 100px;
}


/*----------Landing Section ----------*/
.landing-section{
    min-height: calc(100vh - 100px);
}

/*----------Resource Section ----------*/
.resource-section{
    background-color: #F9FBFD;
}

/*----------Experience Section----------*/
.experience-desktop-img{
    transform: rotateY(-35deg) rotateX(15deg);
    width: 100%;
}
